---
import BlogPost from '../../components/BlogPost.astro';
import posts from "data/posts.js";

export async function getStaticPaths() {

  return posts.map((post) => {
    console.log(posts)
    return {
      params: { tag: post.tag.toString() },
      props: { post },
    };
  });
}

const { tag } = Astro.params;
const filteredPostsByTag: any = posts.filter(post => post.tag === tag);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<div class="page-container">
			<div class="title-row">
				<h3>{`${tag.charAt(0).toUpperCase()}${tag.slice(1)}`} Posts</h3>
			</div>
			<div class="posts-container">
			{posts.filter((post) => post.tag === tag).map((post) => {
				console.log(posts)
				return <BlogPost id={post.id} title={post.titulo} tag={post.tag} date={post.data_criacao} image={post.image} />})}
			</div>
		</div>
	</body>
</html>

<style>
.page-container {
padding: 40px;
}

.title-row {
display: flex;
justify-content: space-between;
}
.tags-list {
display: flex;
}
.tags-list > li, a {
list-style: none;
margin-right: 5px;
text-decoration: none;
}

.posts-container {
flex-wrap: wrap;
display: flex;
flex-direction: row;
}

.color {
color:red;
}
 </style>