---
const { id, title, tag , date, image } = Astro.props
---

<a href={`/posts/${id}`}>
    <div class="post">
        <img class="post-image" src={image} alt="">
        <div class="post-details">
            <a class="post-tag" href={`categories/${tag}`}>
                <p>{tag}</p>
            </a>
            <h4 class="post-title">
                {title}
            </h4>
            <div class="post-info">
                <p>{date}</p>
            </div>
        </div>
    </div>
</a>

<style>
.title-row {
display: flex;
justify-content: space-between;
}
.tags-list {
display: flex;
}
.tags-list > li, a {
list-style: none;
margin-right: 5px;
text-decoration: none;
}

.post {
width: 348px;
  margin: 8px;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
cursor: pointer;
}
.post-image {
/* background-image: url('public/assets/coffe.jpeg'); */
width: 348px;
height: 220px;
/* background-size: cover; */
}
.post-details {
padding: 20px;
box-sizing: border-box;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.post-title {
font-weight: 900;
font-size: 20px;
}
.post-tag {
text-decoration: none;
color:#4da7d4;
}
.post-info{
width: 150px;
display:flex;
justify-content: space-between;
}
 </style>
